body{
    background-image: url("image/aaron-burden-cEukkv42O40-unsplash.jpg");
    background-size: cover;
    width: 70vw;
    height: 7 0vh;
    
}

.container {
    width:380px;
    height: 500px;
    background-color: #fff;
    margin: 5% 50%;
    padding: 5px;
}

.heading{
    font-weight:bold;
    text-align: center;
}

.button{
    width: 200px;
    margin: 25px;
    border-radius:30px;
    box-shadow: 0 0 20px 10px rgb(56, 176, 231);
    margin:30px 0px 20px 40px;
    position:relative;
}

.button1{
    border:0;
    outline: none;
    padding: 10px 26px;
    background: transparent;
    font-weight: bold;
}



.form1{
    top:200px;
    width:450px;
    transition: .5s;
}

.input{
    width: 70%;
    padding:20px;
    margin:2px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid rgb(158, 196, 231);
    outline: none;
    background: transparent;
    margin: 10px;

}


.logging{
    width:80%;
    display: block;
    border:0;
    border-radius: 30px;
    outline:none;
    background: rgb(16, 187, 255);
    padding: 10px;
    margin: 50px 0px;
    
}

.tick{
 font-weight: bold;
 padding: 20%;

}

.nextP{

    width:30%;
    display: block;
    border:0;
    border-radius: 30px;
    outline:none;
    background: rgb(16, 187, 255);
    padding: 12px;
    margin:15% 25%;
}
